<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit Todo</h1>
    <form action="/todos/<%= id %>?_method=PUT" method="POST">
      <input type="text" value="<%= todo %>" name="todo" />
      <input type="checkbox" name="done" <%= done ? "checked" : "" %> />
      <button type="submit">Edit Todo</button>
    </form>
    <a href="/todos/<%= id %>">Go Back</a>
  </body>
</html>
